<%= javascript_include_tag "home" %>

<div class="profile-floor">
        <div class="row">
                <div class="offset-sm-2 col-sm-8 offset-md-2 col-md-8">

                        <% if current_user.email.present? %>
                        <p class="welcome">
                        Bem vindo, <%= current_user.email %>.
                        </p>
                        <% end %>
                        </p></br>

                        <div class="card-deck" style=" display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 0.27fr));grid-gap: 1rem;">
                        
                                <% (0..@number_of_profiles-1).each do |i| %>

                                        <div class="card text-white <%= @color_strings[i] %> mb-4 font-weight-bold" style="max-width: 18rem;" id='<%= i+1%>'>
                                                
                                                <div class="card-body">
                                                        <h5 class="card-title">Pefil:</h5>
                                                        <p class="card-text"> <%=  @profiles[i].profile_name %></p>
                                                </div>
                                        </div>
                                <% end %>
                                
                                <% if @number_of_profiles<4 %>
                                <div id="add" data-toggle="modal" data-target="#newProfile" class="card text-white bg-secondary mb-4 font-weight-bold" style="max-width: 10rem;margin-top:50%;">
                                        
                                        <div class="card-body">
                                        <h4 class="card-title">+ Adicionar perfil</h4>
                                               
                                        </div>
                                </div>
                                <% end %>

                        </div>

                        <%= button_to "sair", destroy_user_session_path, method: :delete, class: 'logout btn btn-lg btn-danger'%>
                </div>
        </div>

</div>

<!-- Modal -->
  <div class="modal fade" id="newProfile" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h3><%= icon('fas', 'users') %> Novo perfil</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <%= form_tag("addProfile", method: "get") do %>
            <div class="form-group">
                <%= label_tag(:profileName, "Nome do perfil:", class: 'profile-label') %>
                <%= text_field_tag(:profileName, nil, placeholder:"Perfil 1") %>
            </div>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
          <% end %>
        </div>

      </div>
      
    </div>
  </div> 
</div>
