<%= javascript_include_tag "browse" %>
<script>
  var base_url = "<%= @base_url %>"
  var profile_id = "<%= @profile_id %>"
</script>

<nav class="navbar navbar-dark bg-dark">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label id='sugestions' class="btn btn-secondary active">
            <input  type="radio" name="options" id="option1" autocomplete="off"> Sugeridos
        </label>
        <label id='interested' class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Interesse
        </label>
        <label id='watched' class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Assistidos
        </label>
    </div>

    <div class="dropdown">
        <button class="btn <%= @colorStrings[@profile_id-1] %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= @profile.profile_name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
             <%= link_to "Trocar perfil", root_path, class: "dropdown-item" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>

  <input id="search" class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
  
</nav>

<div class="cinema-floor">
    <div id='sugestions-deck' class="card-deck" style=" display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));grid-gap: 1rem;">

    <div id="load" class="card text-white bg-success mb-4 font-weight-bold" style="max-width: 15rem;">
        <div class="card-body">
            <h2 class="card-title"> <%= icon('fas', 'sync')%></br> Carregar</br> <%= icon('fas', 'plus')%></br> Filmes</h2>      
        </div>
    </div>


    </div>

    <div id='interested-deck' class="card-deck" style=" display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));grid-gap: 1rem;">
        
    </div>

    <div id='watched-deck' class="card-deck" style=" display: grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));grid-gap: 1rem;">

    </div>

    <div class = 'container loading'>
        <%= icon('fas', 'film', class: 'animated infinite bounce') %>
    </div>

</div>