<div class='container'>
<div class="row">
 <div class="col-md-4 offset-md-4  offset-sm-4  col-sm-4">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email,class: "form-control" , autofocus: true, autocomplete: "email" %>
</div>

<div class="actions">
  <%= f.submit "Send me reset password instructions" ,class: "btn btn-primary " %>
</div>,
<% end %>

<%= render "users/shared/links" %>

</div>
</div>
</div>