// Place all the styles related to the browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
@import "animate";

.cinema-floor{
    padding:2em;
    background-image: url(imgnoise.png);
}


.card-img{
    height: 100% !important;
}

.form-control{
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.card{
    transition: transform .3s;
}

.card:hover{
    transform: translateY(-1.5rem) scale(1.03); 
}

.dropdown>button{
    font-weight: bold;
}
.dropdown>button.bg-primary, .dropdown>button.bg-danger{
    color: white;
}

.loading{
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 15em;
}
