// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: url(imgnoise.png);
    overflow-x: hidden;
    
}

.welcome{
    color: white;
    margin-top: 20%;
    font-weight: bold;
    font-size: 2em;
}

.logout{
    margin-top: 1.75em;
    border-radius: 50%;
    float: right;
    font-weight: bold;
}

.card>.card-body>.card-text{
    font-size: 2em;
}

.profile-label{
    font-weight: bold;
    color: black;
}